:root {
    --black: #333;
    --light-color: #777;
    --border: .1rem solid rgba(0, 0, 0, .2);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --sandy-brown: hsl(29, 90%, 65%);
    --purple: #7276e1;
    --orange: #fd835d;
    --blue-dark: hsl(238, 29%, 16%);
    --color-primary: #3362fd;
    --color-btn-primary: #fd3333;
    --color-primary-light: #1d3577;
    --color-secondary: #502328;
    --color-secondary-light: #502328;
    --color-highlight: #ee234a;
    --color-white: #fff;
    
    --font-secondary: 'Raleway', sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: none;
    text-decoration: none;
    font-weight: 400
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem
}

body {
    overflow-x: hidden;
    font-family: var(--font-secondary);
    min-width: 280px;
}

body::-webkit-scrollbar {
    width: 1vw;
    overscroll-behavior: contain;
    scrollbar-width: thin !important
}

body::-webkit-scrollbar-track {
    background-color: #b3b3b300
}

body::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 10px
}

body::-webkit-scrollbar-thumb:hover {
    background: #30303092
}

.div-container ul li {
    padding: 10px !important;
    text-shadow: -2px 1px 16px #0ba39e2e;
    color: #915b24 !important;
    background-color: #ffffff94
}

iframe {
    min-height: 380px
}

figcaption {
    text-align: center;
    color: #091517;
    font-weight: 700;
    font-size: 14px;
    text-shadow: -1px 0 11px #fff
}

.featured-img {
    width: 95%;
    margin: 70px auto 0 auto;
    height: 450px;
    background-image: url(/images/blog-images/cruise-ft-img-low-res.jpg);
    box-shadow: -2px 3px 4px 14px #38accb inset;
    position: relative
}

.featured-img figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffffde;
    padding: 20px;
    font-size: 26px;
    font-style: italic;
    width: 90%;
    text-align: center;
    border-radius: 25px
}

@media (min-width:769px) {
    .featured-img figcaption {
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 32px;
        width: 80%
    }
}

@media (max-width:428px) {
    .featured-img figcaption {
        font-size: 22px
    }
}

.hide {
    display: none !important
}

#advisory {
    cursor: pointer;
    color: #20640b
}

#advisory-text {
    background-color: #dadada2b;
    padding: 0 5px
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    background: var(--black);
    color: #fff;
    border-radius: .5rem;
    padding: .9rem 3rem;
    cursor: pointer;
    font-size: 1.7rem
}

.btn:hover {
    background: var(--orange)
}

.primary_button{
    border: none;
    outline: none;
    background-color: var(--color-btn-primary);
    color: var(--color-white);
    padding: 15px;
    font-weight: bold;
    font-size: 22px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: all .3s;
}

.primary_button.full{
    width: 100%;
    text-align: center;
}

.primary_button:hover{
    background-color: var(--color-primary-light);
}

.header {
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1d3577;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    padding: 1.2rem 7%
}

.header .logo {
    color: #1d4267fa;
    font-size: 2.5rem;
    margin-right: auto;
    background-image: linear-gradient(to right, #fff 0, #fff 75%, #1d3577 100%);
    padding: .5rem 1rem;
    font-weight: 600
}

.header .logo span {
    color: var(--orange)
}

.header .navbar a {
    color: #fff;
    margin-right: 2rem;
    font-size: 1.7rem;
    text-transform: capitalize
}

.header .navbar a:hover {
    color: var(--orange)
}

.header .icons i {
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    color: #1d3577;
    background: #ffe500;
    border-radius: 50%;
    margin-left: .7rem;
    font-size: 1.7rem;
    cursor: pointer
}

.header .icons i:hover {
    color: #fff;
    background: var(--orange)
}

#menu-bars {
    display: none
}

.sidebar {
    position: fixed;
    overflow-y: scroll;
    right: 0;
    width: 30%;
    padding: 5px;
    margin-top: -60px
}

.sidebar .box {
    border: var(--border);
    border-radius: .5rem;
    overflow: hidden;
    background: #fff;
    margin: 0 2% 1.5rem 2%
}

.sidebar .box .title {
    padding: 1.5rem;
    font-size: 2rem;
    color: #fff;
    background: #1d3577;
    text-transform: capitalize
}

.sidebar .box .about {
    text-align: center;
    padding: 1rem 1.5rem
}

.sidebar .box .about img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem 0
}

.sidebar .box .about h3 {
    color: var(--orange);
    font-size: 2rem
}

.sidebar .box .about p {
    color: var(--black);
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 1rem
}

.sidebar .box .about .follow {
    padding: 1rem 0
}

.sidebar .box .about .follow a {
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: var(--black);
    color: #fff;
    font-size: 1.7rem;
    margin: 0 .1rem
}

.sidebar .box .about .follow a:hover {
    background: var(--orange)
}

.sidebar .box .category {
    padding: 1rem 1.5rem;
    max-height: 40rem;
    overflow-y: scroll
}

.sidebar .box .category::-webkit-scrollbar,
.sidebar .box .p-post::-webkit-scrollbar {
    width: .5vw;
    overscroll-behavior: contain;
    scrollbar-width: thin !important
}

.sidebar .box .category::-webkit-scrollbar-track,
.sidebar .box .p-post::-webkit-scrollbar-track {
    background-color: #30303000
}

.sidebar .box .category::-webkit-scrollbar-thumb,
.sidebar .box .p-post::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 10px
}

.sidebar .box .category::-webkit-scrollbar-thumb:hover,
.sidebar .box .p-post::-webkit-scrollbar-thumb:hover {
    background: #b3b3b392
}

.sidebar .box .category a {
    padding: .4rem 0;
    font-size: 1.7rem;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between
}

.sidebar .box .category a span {
    background: #1d3577;
    color: #fff;
    border-radius: .5rem;
    padding: .5rem
}

.sidebar .box .category a:hover {
    color: var(--orange)
}

.sidebar .box .category a:hover span {
    background-color: var(--orange)
}

.sidebar .box .p-post {
    padding: 1rem 2rem;
    max-height: 40rem;
    overflow-y: scroll
}

.sidebar .box .p-post a {
    padding: 1rem 0;
    display: block
}

.sidebar .box .p-post a h3 {
    color: var(--black);
    font-size: 2rem;
    padding-bottom: 1rem
}

.sidebar .box .p-post a span {
    color: var(--black);
    font-size: 1.5rem
}

.sidebar .box .p-post a span i {
    padding-right: .2rem
}

.sidebar .box .p-post a:hover h3 {
    color: var(--orange)
}

.sidebar::-webkit-scrollbar {
    width: .5vw;
    overscroll-behavior: contain;
    scrollbar-width: thin !important
}

.sidebar::-webkit-scrollbar-track {
    background-color: #30303000
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 10px
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #b3b3b392
}

.container {
    width: 68%
}

.item-box {
    padding: 10px;
    margin: 4%;
    background-color: #eee;
    height: auto;
    border-radius: 10px
}

.item-box-alt {
    max-width: 30rem;
    padding: 10px;
    margin: 0 auto;
    background-color: #eee;
    height: auto;
    border-radius: 10px
}

.post-item-link {
    padding: 0;
    margin: 0;
    background-color: transparent
}

.container .posts-container .post {
    width: 100%;
    padding: 3.5rem;
    background: #fff;
    margin-bottom: 1.5rem
}

@media (max-width:560px) {
    .container .posts-container .post {
        padding: 0
    }
}

.container .posts-container .post-top {
    border: none;
    margin-bottom: 1.5rem;
    padding: 0 3.5rem
}

.container .posts-container .post-top .text span {
    font-weight: 800;
    font-size: large;
    color: #1d3577
}

.container .posts-container .post-top .h1-blog {
    margin-bottom: 2.5rem
}

.breadcrumbs-container .breadcrumbs {
    padding: .5rem 0 1.5rem 0;
    font-size: 1.8rem;
    margin: 2.5% 0
}

.breadcrumbs-container .breadcrumbs-alt {
    padding: .5rem 0 0 0;
    margin: 0
}

.breadcrumbs-container .breadcrumbs .breadcrumbs__item {
    display: inline-block;
    margin: 0 0 3% 0;
    padding: .5% 0
}

.breadcrumbs-container .breadcrumbs .breadcrumbs__item:not(:last-of-type)::after {
    content: "/";
    margin: 0 .5rem;
    color: #fcae65
}

.breadcrumbs-container .breadcrumbs .breadcrumbs__item .breadcrumbs__link {
    text-decoration: none
}

.breadcrumbs-container .breadcrumbs .breadcrumbs__item .breadcrumbs__link:hover {
    text-decoration: underline
}

.breadcrumbs-container .breadcrumbs .breadcrumbs__item .breadcrumbs__link--active {
    color: #2e20aa
}

.container .posts-container .post .image {
    width: 100%;
    border-radius: .8rem;
    min-height: 150px
}

.container .posts-container .post .image-alt {
    object-fit: fill
}

.container .posts-container .post .date {
    padding-top: .5rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--black)
}

.container .posts-container .post .date a {
    color: #1d3577
}

.container .posts-container .post .title {
    padding: 1.5rem 0;
    font-size: 2.8rem;
    color: #1d3577;
    line-height: 1.8
}

.container .posts-container .post .title #blog-attent {
    padding: .5rem 1.5rem;
    border-radius: 5px;
    background-color: #1d6c77;
    font-size: 3rem;
    color: #fff
}

.container .posts-container .post .title #share-title {
    font-weight: 600;
    background-color: #167b210d;
    text-shadow: -1px -1px 20px #f0f8ff;
    padding: 2px 5px
}

.container .posts-container .post .text span {
    color: #6fe8c3;
    font-size: 24px;
    padding: 0 10px;
    border-radius: 25px;
    text-shadow: -1px 1px 3px #000;
    background-color: #1d4267fa
}

@media (max-width:769px) {
    .container .posts-container .post .text span {
        font-size: 18px
    }
}

.container .posts-container .post .text b {
    color: var(--black);
    font-size: 2.2rem;
    font-weight: 600
}

.container .posts-container .post .title-secondary {
    font-size: 26px;
    padding: 0 10px;
    text-shadow: -1px 1px 3px #000;
    background-color: #1d4267fa;
    color: #6fe8c3
}

.container .posts-container .post .h2-highlight {
    font-size: 2.8rem;
    font-weight: 600
}

.container .posts-container .post #main-post-1 {
    display: none
}

.container .posts-container .post .h2-highlight span {
    color: #1d6c77;
    font-weight: 500
}

.container .posts-container .post .text {
    color: var(--black);
    font-size: 1.9rem;
    line-height: 2.2;
    padding: 1rem 0;
    word-spacing: .1rem
}

.container .posts-container .top-picks {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.7;
    padding: 4rem 0 !important
}

.container .posts-container .top-picks h3 {
    background-color: #1d3577;
    padding: 5px
}

.container .posts-container .top-picks .related-link-list,
.container .posts-container .top-picks .top-picks-list {
    max-height: 35rem;
    overflow-y: scroll;
    padding: 0 2rem;
    background-color: #eee
}

.container .posts-container .top-picks .related-link-list h4,
.container .posts-container .top-picks .top-picks-list h4 {
    color: #303030
}

.container .posts-container .top-picks .related-link-list li a,
.container .posts-container .top-picks .top-picks-list li a {
    font-size: 1.8rem
}

.related-links {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.container .posts-container .post .links {
    border-top: var(--border);
    margin-top: .5rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center
}

.container .posts-container .post .links .icon {
    padding-right: 1rem
}

.container .posts-container .post .links a {
    font-size: 1.5rem;
    color: var(--black)
}

.container .posts-container .post .links a i {
    padding-right: .2rem;
    color: var(--black)
}

.container .posts-container .post .links a:hover,
.container .posts-container .post .links a:hover i {
    color: #333
}

.active {
    background-color: #ccc
}

/* .................BLOGS........................... */
.blogs{
    padding:0 0 50px 0;
}

.blogs-container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.blogs .blog_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.blogs .blog_wrapper .blog_card{
    width: 32%;
    margin-bottom: 20px;
    /* height: 400px; */
    box-shadow: 0px 15px 15px -10px rgb(0 0 0 / 5%);
}

.blogs_heading{
    color: var(--color-secondary);
    font-family: var(--font-primary);
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.blogs .blog_card .blog_card_img{
    width: 100%;
}

.blogs .blog_card .blog_card_content{
    padding: 30px;
}

.blogs .blog_card .blog_card_text{
    color: var(--color-secondary);
    font-family: var(--font-primary);
    font-size: 20px;
}

.disclosure {
    background-color: #1d3577;
    color: #fff;
    padding: 45px
}

.disclosure strong {
    font-size: 1.8rem;
    font-weight: 600
}

.disclosure p {
    font-size: 1.4rem
}

.disclosure p span {
    color: var(--orange);
    font-size: 1.6rem
}

.disclosure p a {
    color: #2fcbff
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.footer .credit {
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0
}

.footer .credit span {
    color: #000
}

.footer .follow {
    padding: 1rem 0
}

.footer .follow a {
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    font-size: 1.7rem;
    background: var(--orange);
    color: #fff;
    margin: 0 .1rem;
    text-align: center
}

#share-btn {
    position: fixed;
    bottom: 80px;
    left: 2px;
    z-index: 9999;
    background-color: #1d4267fa;
    color: #6fe8c3;
    text-shadow: -1px 1px 3px #7b6d6d;
    line-height: 4rem;
    border: 2px solid #55ffe0;
    display: none
}

.footer .follow a:hover {
    background: var(--orange)
}

.container .posts-container .post .text-alt,
.div-container-main {
    background: #3d95fa2d;
    padding: 25px;
    border-radius: 15px
}

.div-container {
    background-color: #dadada2b;
    padding: 25px
}

.suggested-top h2 {
    padding: 5px 1%;
    font-size: 28px;
    text-align: center;
    color: #1d6c77;
    text-decoration: underline;
    font-weight: 600
}

.suggested-top h3 {
    font-size: 1.4rem;
    margin-top: 5px
}

.suggested-top h3 span {
    color: #ff0;
    background-color: #000;
    padding: 0 8px
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px
}

.item-box {
    padding: 10px;
    margin: 4%;
    background-color: #7adcbe;
    height: auto;
    border-radius: 10px
}

.item-box-alt {
    max-width: 30rem;
    padding: 10px;
    margin: 0 auto;
    background-color: #eee;
    height: auto;
    border-radius: 10px
}

.wrapper .item-box .suggested-item {
    width: 100%;
    min-height: 35rem;
    border-radius: .5rem
}

.item-box .suggested-text-item {
    text-align: center;
    padding: 5% 0;
    font-size: 18px;
    font-weight: 600;
    color: #0a148a;
    text-shadow: -1px 1px 14px #f0f8ff
}

.item-box .suggest-link {
    background-color: #3362fd;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 70%;
    margin: 10px auto;
    color: #f0f8ff;
    box-shadow: 1px 0 18px #fff;
    font-size: 20px;
    font-weight: 700;
    border: 5px solid #f0f8ff
}

@media (max-width: 1140px){
    .blogs-container {
        max-width: 991px;
        padding: 0 20px;
    }
}

@media (max-width:991px) {
    .header {
        padding: 1.5rem
    }
    .blogs .blog_wrapper .blog_card{
        width: 49%;
    }
}

@media (max-width:768px) {
    #menu-bars {
        display: inline-block
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: var(--border);
        border-bottom: var(--border);
        background: #fff;
        display: none
    }

    .header .navbar.active {
        display: block
    }

    .header .navbar a {
        display: block;
        background: #1d3577;
        padding: 1.5rem;
        margin: 1.5rem;
        border-radius: .5rem;
        border: var(--border)
    }

    .sidebar {
        display: none
    }

    .container {
        width: 100%
    }

    .container .posts-container .post .title {
        font-size: 2.3rem
    }

    .container .posts-container .post .title #blog-attent {
        font-size: 2.5rem
    }

    .container .posts-container .post .text {
        font-size: 1.6rem
    }

    .footer {
        flex-flow: column;
        text-align: center
    }
}

@media (max-width: 600px){
    .blogs .blog_wrapper .blog_card{
        width: 100%;
    }
}

@media (max-width:560px) {

    .div-container,
    .table-container {
        padding: 10px;
        overflow-x: scroll
    }
}

@media (max-width:450px) {
    .item-box {
        text-align: center
    }

    .wrapper .item-box .suggested-item {
        height: 15rem
    }

    .primary_button{
        font-size: 16px;
    }
}

#span-head {
    font-size: 2.1rem;
    color: #3e9231;
    font-style: italic;
    text-decoration: underline
}