 /* Style for the table */
 .deckTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px; /* Adjust the spacing between cells */
}

/* Style for table rows */
.deckTable tr {
    border: 2px solid #ddd; /* Thicker borders */
}

/* Style for table cells */
.deckTable td {
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd; /* Thinner cell borders */
}

/* Hover effect for table rows (optional) */
.deckTable tr:hover {
    background: #f2f2f2;
}

/* Style for dynamically generated rows */
.generatedRow {
    background: #1d6c77;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #1f496e;
    padding: 2.5px 5px;
    border-radius: 5px;
}

/* Hover effect for dynamically generated rows (optional) */
/* .generatedRow:hover {
    background: #357ebd;
} */

.mini-banner {
    position: relative;
    background-color: red;
    height: 40px;
    width: 100%
}

.mini-banner-alt {
    position: relative;
    background-color: transparent
}

.mini-banner-btn {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(0, -50%);
    padding: 4px 5px;
    border-radius: 2.5px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.mini-banner-btn-alt {
    background-color: #ffe500
}

/* Affiliate Box */
.aff-banner {
    background-color: #1d3577;
    height: 130px;
    border-radius: 10px;
    margin: 20px 0;
}

.aff-discount {
    text-align: center;
    font-size: 1.6rem;
    color: aliceblue;
}

.aff-code {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: aliceblue;
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
}

.aff-code-span {
    background-color: rgb(248 255 192);
    padding: 0 5px;
    color: black;
    border-radius: 20px;
}

.aff-banner-btn {
    background-color: rgb(248 255 192);
    right: 50%;
    transform: translate(50%, -50%);
    padding: 15px 40px;
    cursor: pointer;
}

@media (max-width: 540px) {
    .aff-banner-btn {
        width: 85%;
    }
}